body {
  margin: 10% auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffae9 !important;
}

@font-face {
  font-family: "Wingdings";
  src: url(../../public/fonts/Wingdings-Regular.ttf);
}

@font-face {
  font-family: "Comic Sans";
  src: url(../../public/fonts/Comic-Sans.ttf)
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

.password-wrapper {
  max-width: 485px;
  margin: 167px auto 60px;
}

.password-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.password-box-inner {
  background: #fff;
  position: relative;
  min-height: 64px;
  border-radius: 10px;
}

.password-label {
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
}

.password-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  padding: 15px;
  font-size: 28px;
  border-radius: 10px;
  font-family: Monospace;
  color: transparent;
  border: 1px solid transparent;
  pointer-events: none;
  user-select: none;
  word-break: break-all;
  white-space: break-spaces;
  word-wrap: break-word;
  font-variant-ligatures: none;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 28px;
  border: 1px solid #9d9d9d;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  word-break: break-all;
  font-family: Monospace;
  min-height: 64px;
  outline: 0;
  background: 0 0;
  contain: layout;
}

.has-toolbar .ProseMirror {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ProseMirror:focus {
  border-color: #000;
}

.ProseMirror [contenteditable="false"] {
  white-space: normal;
}

.ProseMirror [contenteditable="false"] [contenteditable="true"] {
  white-space: pre-wrap;
}

.ProseMirror pre {
  white-space: pre-wrap;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection * {
  caret-color: transparent;
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

.error-highlight {
  background: #ffd9d9;
}

.password-length {
  position: absolute;
  top: 50%;
  right: -15px;
  font-size: 18px;
  transform: translate(100%, -50%);
  opacity: 0;
  transition: opacity .5s ease-in-out
}

@keyframes showToolbar-56b284df {
  to {
    transform: none
  }
}

.toolbar {
  background: #fff;
  border: 1px solid #000;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(0, 0, 0);
  border-top: none;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  transform: scaleY(0);
  transform-origin: center top;
  animation: showToolbar-56b284df .4s ease-in-out forwards;
}

@keyframes showButton-56b284df {
  to {
    opacity: 1
  }
}

.toolbar button {
  background: #fff;
  font-size: 16px;
  padding: 5px 11px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #b3b3b3;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .05);
  transition: background .15s linear;
  color: #000;
  opacity: 0;
  animation: showButton-56b284df .4s ease-in-out forwards;
  touch-action: manipulation;
}

.toolbar button.is-active {
  background: #000;
  border-color: #000;
  color: #fff;
  box-shadow: none
}

.toolbar select {
  color: #000;
  background: #fff;
  font-size: 16px;
  padding: 5px 35px 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #b3b3b3;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .05);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
   background-image:url(/public/chevron.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 9px
}

.rule {
  box-shadow: 3px 3px 5px 2px rgba(60, 155, 71, .2);
  color: #000;
  padding: 0;
  width: 100%;
  line-height: 1.53em;
  text-align: left;
  margin: 22px auto;
  border-radius: 10px;
  font-size: 18px;
  position: relative;
  word-spacing: 0;
  overflow: hidden;
  animation: fadeIn .5s ease-in-out forwards;
  will-change: transform;
}

.rule-error {
  background-color: #ffecec;
  border: 1px solid red;
  color: #000;
  box-shadow: 2px 2px 5px 2px rgba(255, 0, 0, .12);
}

.rule-correct {
  background-color: #e3ffe3;
  border: 1px solid #267b30;
}

.rule-top {
  display: block;
  padding: 8px 16px 5px;
  transition: background-color .7s ease-in-out;
}

.rule-top-correct {
  background-color: #aef3ae;
}

.rule-top-error {
  background-color: #ffc7c7;
}

.rule-icon {
  position: relative;
  width: 19px;
  height: 19px;
  top: 3px;
  left: -1px;
  pointer-events: none;
  margin-right: 5px;
}

.rule-desc {
  padding: 11px 17px 15px;
}

.sponsors {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor {
  margin-left: 17px;
  margin-right: 17px;
  pointer-events: none;
  height: 85px;
}

@keyframes fadeInDeath-56b284df {
  to {
    opacity: 1
  }
}

.death-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  -webkit-backdrop-filter: saturate(0);
  backdrop-filter: saturate(0);
  z-index: 100;
  animation: fadeInDeath-56b284df .5s ease-in-out forwards;
  opacity: 0;
  text-align: center
}

.death-screen-strip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, .95);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: Georgia, Times, serif;
  text-transform: uppercase;
  box-shadow: 0 0 80px 50px rgba(0, 0, 0, .7)
}